@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

$primary-color: #333333;
$primary-color-dark: #222222;

$font-family: 'Atkinson Hyperlegible', sans-serif;
$font-size: 1rem;
$text-color: #ffff;




